@fontSize: 14px;

.rjv-node {
  font-size: @fontSize;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  line-height: 1.4;
  &__title {
    cursor: default;
  }
  &__spread-controller {
    transform: rotateZ(0);
    transform-origin: 35% center;
    transition: transform linear 0.1s;
    &.spread {
      transform: rotateZ(90deg);
    }
  }
  &__property {
    margin-left: 12px;
    &-key {
      color: #731e72;
    }
  }
  .rjv-load-more {
    color: #8f198d;
    font-size: 13px;
    > span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.rjv-type-node {
  font-size: @fontSize;
  &.number {
    color: #181997;
  }
  &.string {
    position: relative;
    color: #be3c31;
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }
    .copyable-icon {
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &.boolean {
    color: #181997;
  }
  &.symbol {
    color: #be3c31;
  }
  &.function {
    color: #4e360e;
  }
  &.null,
  &.undefined {
    color: #767b7f;
  }
}
